extends ../layouts/main-layout.pug

block content
        form(action="/admin/add-product" method="POST")

            div.form-group.row
                label(for="name").col-sm-2.col-form-label Name
                div.col-sm-10
                    input(type="text" name="name").form-control#name
            
            div.form-group.row
                label(for="price").col-sm-2.col-form-label Price
                div.col-sm-10
                    input(type="text" name="price").form-control#price
            
            div.form-group.row
                label(for="imgUrl").col-sm-2.col-form-label Image Url
                div.col-sm-10
                    input(type="text" name="imgUrl").form-control#imgUrl

            div.form-group.row
                label(for="description").col-sm-2.col-form-label description
                div.col-sm-10
                    input(type="text" name="description").form-control#description

                
            div.form-group.row
                div.col-sm-10.offset-sm-2
                    input(type="submit"  value="Ürünü kaydet").btn.btn-primary
                             
                    