nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
  .container-fluid
    a.navbar-brand(href='#') Navbar

    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarColor02', aria-controls='navbarColor02', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon

    .collapse.navbar-collapse#navbarColor02
      ul.navbar-nav.ml-auto.mb-2.mb-lg-0
        li.nav-item
          a(href='/', class=(path==='/' ? "nav-link active" : "nav-link")) Home  
        li.nav-item
          a(href='/', class=(path==='/products' ? "nav-link active" : "nav-link")) Products  
        li.nav-item
          a(href='/admin/add-product', class=(path==='/add-product' ? "nav-link active" : "nav-link")) Add Product   

    ul.navbar-nav.mr-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link(href='#') Login  
        li.nav-item
          a.nav-link(href='#') Register
